# -*- mode: python -*-

# Configuration file for preparation of forcing data for ecosystem models.
# Default values will be taken in most cases if options are empty,
# missing or commented.

# Information will be passed to ascii2netcdf.
#
# For MuSICA: info can also be given via a namelist file. Information of this
# config file will have precedence over the information in the namelist file.

# This config file is in Python's ConfigParser format, which
#   - must have sections;
#   - section names are case-sensitive, but options are case-insensitive;
#   - strings do not have quotes;
#   - no comments are allowed after options;
#   - comments have # ; or REM at the beginning of the line.

[Model]
# Ecosystem model: ISBA, MuSICA
model = ISBA


[Options]
# Which input to use: file, ICOS, ERA5
input = ICOS
# MAD (Mean Absolute Deviation) filter on input variables
# filter input data with z=mad_z if mad_z > 0
mad_z = 7
# Imputation method (gap filling)
#   0: linear interpolation of existing data
#   1: bias-corrected ERA5 data (Vuichard and Papale, ESSD 2015)
imputation_method = 1
# Write netcdf using ascii2netcdf
#   keep_csv must be True if make_netcdf is False (default: True)
make_netcdf = True
# Keep intermediate csv file
# (default: delete intermediate csv file at the end).
keep_csv = True


[Site]
# Site name (info, currently not used)
name = FR-Hes
# The site's latitude from -90 to 90.
latitude = 48.6742166667
# The site's longitude from -180 to 180.
longitude = 7.06461666667
# The site's elevation above sea level in m.
altitude = 300.
# The height where temperature and humidity were measured.
reference_height = 22.5


[ISBA]
# The height were wind were measured.
reference_height_wind = 22.5
# Terrain slope
slope =
# Terrain slope aspect
aspect =


[MuSICA]
# Time difference between local time and GMT=UTC from -12 to 12.
# It was 0 for 1996-2016 at FR-Hes, 1 afterwards
time2gmt = 1
# Will MuSICA be used in RSL-yoyo mode?
# If true, data requires h_sbl. If false, h_sbl will not be retrieved
rsl_yoyo = False


[Input]
# Input ascii file
inputfile = /Users/cuntz/data/inrae/hesse/BD_Hesse/DB2/Hesse_DB2_1997.csv
# Character or regex pattern to treat as the delimiter.
# str, default None
sep = ;
# Row number(s) containing column labels and marking the start of the
# data (zero-indexed). Can be a list of integers that specify row
# locations for a MultiIndex on the columns e.g. 0, 1, 3.
# int, Sequence of int, infer or None, default infer
header = 0
# Column(s) to use as row label(s), denoted either by column labels or
# column indices.
# Hashable, Sequence of Hashable or False, default None
index_col = 0
# Subset of columns to select, denoted either by column labels or
# column indices.
# Sequence of Hashable or Callable, default None
usecols =
# Line numbers to skip (0-indexed) or number of lines to skip (int) at
# the start of the file.
# int, list of int or Callable, default None
skiprows = 1
# Additional strings to recognize as NA/NaN. By default the following
# values are interpreted as NaN: empty string, NaN, N/A, NULL,
# and other common representations of missing data.
# The first value in na_values (if comma-separated list) will be taken
# for the output csv file (not the netcdf csv file)
# Hashable, Iterable of Hashable or dict of {HashableIterable}, default None
na_values = -9999.
# The behavior is as follows:
#   bool. If True -> try parsing the index.
#   None. Behaves like True if date_format is specified.
#   list of int or names. e.g. If 1, 2, 3 -> try parsing columns
#     1, 2, 3 each as a separate date column.
# bool, None, list of Hashable, default None
parse_dates = True
# Format to use for parsing dates and/or times when used in
# conjunction with parse_dates. The strftime to parse time,
# e.g. %d/%m/%Y. You can also pass: ISO8601, to parse any ISO8601
# time string (not necessarily in exactly the same format).
# str or dict of column -> format, default ISO8601
date_format = %d.%m.%Y %H:%M
# Fraction of time step at which input time is given (default: 0.5):
#   0   = beginning of time step,
#   0.5 = middle of time step,
#   1   = end of time step.
# Note that MuSICA is using the middle of the time step,
# and ISBA is using the end of the time step in their forcing files,
# so output times will be shifted to the middle or end, respectively.
ftimestep = 1.0


[Output]
# Output file
# Name of netcdf output file (default: suffix of infile replaced by .nc).
# Name of csv file is the name of the output file with suffix replaced by .csv.
outputfile = ISBA_in_FR-Hes_1997-era5-3.nc
# _FillValue for all variables in netcdf file. (default: None).
fill_value = -9999999.
#
# Note: startdate, enddate, and timestep have to be given input is not
# file, i.e. ICOS or ERA5(-Land).
#
# First date in netcdf output file in ISO8601 format such as 1994-01-01 00:00
# (default: first date of input file)
startdate =
# Last date in netcdf output file in ISO8601 format such as 1994-12-31 23:30
# (default: last date of input file)
enddate =
# timestep of output netcdf file if no input file.
# Use notation such as 1800s or 30min:
# https://pandas.pydata.org/docs/user_guide/timeseries.html#timeseries-offset-aliases
timestep = 1800s


[ICOS]
# ICOS data
# ICOS-CP data product
#   NRT : near-real-time data
#   L2 : ICOS L2 data
#   Fluxnet : europe-fluxdata.eu data
# or file like:
#   TIMESTAMP_END,CO2 (µmol mol-1),...
#   2025-12-31 23:00:00,432.47,...
icos_product = FR-Hes_L2_Meteosens.csv.gz
# meteo stream of data product
#   NRT : Meteo, Meteosens
#   L2 : Meteo, Meteosens, Fluxnet
#   Fluxnet : ignored
icos_meteo = meteo
# use quality control flag up to icos_qc, i.e.
# 0 = only original data, 2 = all data (default)
icos_qc = 2


[ERA5]
# ERA5 directory and data type
# Directory to search and store ERA-interim data
# (default: current directory '.')
era5path = testera
# ERA5 type: era5, era5-land, era5-land-ts
era5type = era5-land-ts


[CO2]
# CO2 file
# atmospheric CO2 concentrations for filling missing values
# assume file structure: date,co2 (ppm)
co2file = cmip6_co2_hist-ssp370_1850-2100.csv
co2delimiter = ,
# assumes decimal year for date
co2date_column = 0
co2co2_column = 1


# Variable names in input file
# Can be regular expression such as TA_.*_1_1: columns will be filtered with
#   re.search(name, available_variables)
# This implies Var_1 will also find columns named Var_2/Var_1, Var_1_QC,
# or similar. In this case, make it start with ^ (^Var_1)
# or end with $ (Var_1$), for example.
# Examples:
# TA_F and TA_F_QC are in ICOS Fluxnet, hence set TA_F$.
# Or Rg_Kipp H1 and PAR_JY/Rg_Kipp H1 are in old FR-Hes data,
# hence set ^Rg_Kipp H1
[VarNames]
# first name_*: Old FR-Hes files
# second name_*: ICOS Fluxnet
# third name_*: ICOS L2 Meteosens
# fourth name_*: ICOS L2 Meteo
# (ppm)
# name_co2air = CO2_EC H1
# name_co2air =
name_co2air = CO2
# name_co2air = CO2$
# (W/m2)
# name_lwdown = IRLinc H1
# name_lwdown = LW_IN_F$
name_lwdown = LW_IN_1_1_1
# name_lwdown = LW_IN$
# (hPa)
# name_psurf = Patm
# name_psurf = PA_F$
name_psurf = PA_1_1_1
# name_psurf = PA$
# (mmol/mol)
# name_qair = H2O_Vais H1
# name_qair = VPD_F$
name_qair = RH_1_1_1
# name_qair = RH$
# name_qair = VPD$
# (W/m2)
# name_swdown = ^Rg_Kipp H1
# name_swdown = SW_IN_F$
name_swdown = SW_IN_1_1_1
# name_swdown = SW_IN$
# (degC)
# name_tair = T_Psy H1
# name_tair = TA_F$
name_tair = TA_.*_1_1
# name_tair = TA$
# (deg)
# name_wind_dir = WD H1
# name_wind_dir =
name_wind_dir = WD_1_1_1
# name_wind_dir = WD$
# (m/s)
# name_wind_speed = WS_EC H1
# name_wind_speed = WS_F$
name_wind_speed = WS_1_1_1
# name_wind_speed = WS$
# precip OR rainf and snowf
# (mm/30min)
# name_precip = Prec H1
# name_precip = P_F$
name_precip = P_[1-2]_1_1
# name_precip = P$
# # (mm/30min)
# name_rainf = Prec H1
# # (mm/30min)
# name_snowf = Prec H1

# # MuSICA allows to put additional variables into the netcdf file
# # such as isotopic forcing variables.
# # extra_vars of input file will be extra_names in output file.
# extra_vars = SWC-10_. H1, SWC-30_. H1, SWC-55_. H1, SWC-80_. H1, SWC-120_. H1, Gsol_. H1
# extra_names = SWC_10, SWC_30, SWC_55, SWC_80, SWC_120, G


# Units of variables in input file
[VarUnits]
# not used with ICOS or ERA5 data
unit_co2air = ppm
unit_lwdown = W/m2
unit_psurf = hPa
unit_qair = mmol/mol
unit_swdown = W/m2
unit_tair = degC
unit_wind_dir = degree
unit_wind_speed = m/s
unit_precip = mm
unit_rainf = mm
unit_snowf = mm


# Before filling with ERA5, alternative (redundant) variables will be taken
# if the primary variable is undef.
# Can also be regular expressions.
[AlternativeVarNames]
# not used with ICOS or ERA5 data
aname_co2air =
aname_lwdown = LW_IN_1_2_1
aname_psurf = PA_1_2_1
aname_qair = RH_2_1_1
aname_swdown = SW_IN_1_1_2
aname_tair = TA_2_1_1
aname_wind_dir =
aname_wind_speed = WS_1_2_1
aname_precip =
# aname_rainf =
# aname_snowf =
